node-red flowcode.txt
[{"id":"fa042696.d68888","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5fb03095.d90c9","type":"websocket in","z":"fa042696.d68888","name":"nodeWSserver","server":"708bbb29.ac18f4","client":"","x":100,"y":220,"wires":[["667e427a.a0512c","f4333821.8b2c48"]]},{"id":"5b0784b7.10b1ac","type":"ui_text","z":"fa042696.d68888","group":"67916cbb.b9a994","order":2,"width":"9","height":"1","name":"","label":"Resultaat:","format":"{{msg.payload}}","layout":"row-spread","x":980,"y":120,"wires":[]},{"id":"22917f53.86dd7","type":"websocket out","z":"fa042696.d68888","name":"","server":"","client":"80097ea0.3cada","x":570,"y":340,"wires":[]},{"id":"dfbda25d.ccb88","type":"ui_form","z":"fa042696.d68888","name":"","label":"","group":"67916cbb.b9a994","order":1,"width":"9","height":"1","options":[{"label":"fotonummer","value":"Foto","type":"text","required":true}],"formValue":{"Foto":""},"payload":"","topic":"","x":110,"y":340,"wires":[["40a00f87.3159f","9474c65c.0c2c48","b7eb96b0.158ab8"]]},{"id":"8b2f6e7d.6e152","type":"ui_gauge","z":"fa042696.d68888","name":"","group":"67916cbb.b9a994","order":0,"width":"0","height":"0","gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#ca3838","#e6e600","#00b500"],"seg1":"","seg2":"","x":870,"y":220,"wires":[]},{"id":"667e427a.a0512c","type":"switch","z":"fa042696.d68888","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"key","vt":"str"},{"t":"cont","v":"percent","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":220,"wires":[["a01e2b37.8fbde8"],["6e5a22e6.7992cc"]]},{"id":"6e5a22e6.7992cc","type":"change","z":"fa042696.d68888","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"percent:","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":260,"wires":[["8b2f6e7d.6e152"]]},{"id":"a01e2b37.8fbde8","type":"change","z":"fa042696.d68888","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"key:","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":20,"wires":[["e3e9aa7d.d8ff28","b56e2117.e5608"]]},{"id":"f573ad6.107f45","type":"ui_button","z":"fa042696.d68888","name":"","group":"67916cbb.b9a994","order":0,"width":0,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"","icon":"refresh","payload":"0","payloadType":"str","topic":"","x":450,"y":180,"wires":[["8b2f6e7d.6e152","b1031581.1847e8"]]},{"id":"b1031581.1847e8","type":"change","z":"fa042696.d68888","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":160,"wires":[["5b0784b7.10b1ac"]]},{"id":"19f9d519.5b7b1b","type":"ui_audio","z":"fa042696.d68888","name":"","group":"67916cbb.b9a994","voice":"nl-NL","always":true,"x":1020,"y":20,"wires":[]},{"id":"9e875eac.9f7c9","type":"ui_audio","z":"fa042696.d68888","name":"","group":"67916cbb.b9a994","voice":"nl-NL","always":true,"x":500,"y":400,"wires":[]},{"id":"40a00f87.3159f","type":"change","z":"fa042696.d68888","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"De afbeelding wordt onderzocht","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":400,"wires":[["9e875eac.9f7c9"]]},{"id":"e3e9aa7d.d8ff28","type":"change","z":"fa042696.d68888","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"Ik ben klaar, Ik ben ","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":80,"wires":[["5b0784b7.10b1ac"]]},{"id":"4d806b8b.3c82e4","type":"ui_template","z":"fa042696.d68888","group":"b73f9fe5.1859d","name":"","order":0,"width":"12","height":"10","format":"<div style=\"display:inline-block;\">\n <img src=\"/1.jpg\" width=\"32%\" height=\"32%\">\n <img src=\"/2.jpg\" width=\"32%\" height=\"32%\">\n <img src=\"/3.jpg\" width=\"32%\" height=\"32%\">\n</div>\n<div style=\"display:inline-block;\">\n <img src=\"/4.jpg\" width=\"32%\" height=\"32%\">\n <img src=\"/5.jpg\" width=\"32%\" height=\"32%\">\n <img src=\"/6.jpg\" width=\"32%\" height=\"32%\">\n</div>\n<div style=\"display:inline-block;\">\n <img src=\"/7.jpg\" width=\"32%\" height=\"32%\">\n <img src=\"/8.jpg\" width=\"32%\" height=\"32%\">\n <img src=\"/9.jpg\" width=\"32%\" height=\"32%\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":840,"y":360,"wires":[[]]},{"id":"9474c65c.0c2c48","type":"function","z":"fa042696.d68888","name":"","func":"msg.payload[\"Foto\"]+=\".jpg\"\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":340,"wires":[["22917f53.86dd7"]]},{"id":"b56e2117.e5608","type":"split","z":"fa042696.d68888","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":770,"y":20,"wires":[["19f9d519.5b7b1b"]]},{"id":"b7eb96b0.158ab8","type":"change","z":"fa042696.d68888","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":500,"wires":[["5d273847.f1cde8","8b2f6e7d.6e152"]]},{"id":"5d273847.f1cde8","type":"change","z":"fa042696.d68888","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":500,"wires":[["5b0784b7.10b1ac"]]},{"id":"f4333821.8b2c48","type":"debug","z":"fa042696.d68888","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":190,"y":100,"wires":[]},{"id":"708bbb29.ac18f4","type":"websocket-listener","z":"","path":"nodeWSserver","wholemsg":"false"},{"id":"67916cbb.b9a994","type":"ui_group","z":"","name":"Formulier","tab":"65e69040.50d3f","order":2,"disp":true,"width":"9","collapse":false},{"id":"80097ea0.3cada","type":"websocket-client","z":"","path":"ws://127.0.0.1:9000/","tls":"","wholemsg":"false"},{"id":"b73f9fe5.1859d","type":"ui_group","z":"","name":"Foto's","tab":"65e69040.50d3f","order":1,"disp":true,"width":"12","collapse":false},{"id":"65e69040.50d3f","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]