node-red flowcode image url.txt
[{"id":"952dc40e.aa7a78","type":"websocket in","z":"61ec0ffe.08d97","name":"test","server":"708bbb29.ac18f4","client":"","x":150,"y":220,"wires":[["9c575707.a5c3d8"]]},{"id":"96e7211d.14099","type":"ui_text","z":"61ec0ffe.08d97","group":"f0d56537.5b8e58","order":2,"width":"9","height":"1","name":"","label":"Resultaat:","format":"{{msg.payload}}","layout":"row-spread","x":980,"y":120,"wires":[]},{"id":"24f1f996.9f2516","type":"websocket out","z":"61ec0ffe.08d97","name":"","server":"","client":"80097ea0.3cada","x":430,"y":340,"wires":[]},{"id":"c4e6d00.4bbf23","type":"ui_form","z":"61ec0ffe.08d97","name":"","label":"","group":"f0d56537.5b8e58","order":1,"width":"9","height":"1","options":[{"label":"URL van afbeelding","value":"Foto","type":"text","required":true}],"formValue":{"Foto":""},"payload":"","topic":"","x":110,"y":340,"wires":[["b2a9a57f.05f838","cac16bb8.c76a88","24f1f996.9f2516"]]},{"id":"4557beb6.4e733","type":"ui_gauge","z":"61ec0ffe.08d97","name":"","group":"f0d56537.5b8e58","order":0,"width":"0","height":"0","gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#ca3838","#e6e600","#00b500"],"seg1":"","seg2":"","x":870,"y":220,"wires":[]},{"id":"9c575707.a5c3d8","type":"switch","z":"61ec0ffe.08d97","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"key","vt":"str"},{"t":"cont","v":"percent","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":220,"wires":[["a2fcdc1c.7e688"],["2ec8dbcf.770234"]]},{"id":"2ec8dbcf.770234","type":"change","z":"61ec0ffe.08d97","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"percent:","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":260,"wires":[["4557beb6.4e733"]]},{"id":"a2fcdc1c.7e688","type":"change","z":"61ec0ffe.08d97","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"key:","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":20,"wires":[["7893818e.eed41","e2bc81b4.83155"]]},{"id":"c0d116d6.9d5c28","type":"ui_button","z":"61ec0ffe.08d97","name":"","group":"f0d56537.5b8e58","order":0,"width":0,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"","icon":"refresh","payload":"0","payloadType":"str","topic":"","x":450,"y":180,"wires":[["4557beb6.4e733","87418134.b6b9f"]]},{"id":"87418134.b6b9f","type":"change","z":"61ec0ffe.08d97","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":160,"wires":[["96e7211d.14099"]]},{"id":"6dac7097.36d12","type":"ui_audio","z":"61ec0ffe.08d97","name":"","group":"f0d56537.5b8e58","voice":"en-US","always":true,"x":1020,"y":20,"wires":[]},{"id":"e2c2ddfa.06712","type":"ui_audio","z":"61ec0ffe.08d97","name":"","group":"f0d56537.5b8e58","voice":"en-US","always":true,"x":500,"y":400,"wires":[]},{"id":"b2a9a57f.05f838","type":"change","z":"61ec0ffe.08d97","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"I am processing the image.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":400,"wires":[["e2c2ddfa.06712"]]},{"id":"7893818e.eed41","type":"change","z":"61ec0ffe.08d97","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"I am ready. I am","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":80,"wires":[["96e7211d.14099"]]},{"id":"e2bc81b4.83155","type":"split","z":"61ec0ffe.08d97","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":770,"y":20,"wires":[["6dac7097.36d12"]]},{"id":"cac16bb8.c76a88","type":"change","z":"61ec0ffe.08d97","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":500,"wires":[["dec0e1ec.62b85","4557beb6.4e733"]]},{"id":"dec0e1ec.62b85","type":"change","z":"61ec0ffe.08d97","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":500,"wires":[["96e7211d.14099"]]},{"id":"708bbb29.ac18f4","type":"websocket-listener","z":"","path":"nodeWSserver","wholemsg":"false"},{"id":"f0d56537.5b8e58","type":"ui_group","z":"","name":"Formulier","tab":"6afacf5a.43a9d","order":2,"disp":true,"width":"9","collapse":false},{"id":"80097ea0.3cada","type":"websocket-client","z":"","path":"ws://127.0.0.1:9000/","tls":"","wholemsg":"false"},{"id":"6afacf5a.43a9d","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]